@font-face {
    font-family: yekan;
    src: url('./assets/fonts/Yekan.woff');
}

*{
    font-family: yekan;
    direction: rtl;
}


.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex: 1px;
    gap: 5px;
}

.massage div{
    background: red;
    padding-left: 5px;
    padding-right: 5px;
}
.massage span{
    color: aliceblue;
    z-index: 1px;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form input{
    background: rgb(241, 241, 241);
    border-radius: 1px;
    padding-left: 50%;
    padding-bottom: 1%;
    padding-top: 1%;
    border: none;
    width: 50%;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-form{
    color: antiquewhite;
    background: blue;
    border-radius: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.button-form:hover{
    cursor: pointer;
}

.linkto{
    color: black;
    text-decoration: none;
}

.linkto:hover{
    color: rgb(0, 10, 104);
    text-decoration: underline;
}



