
.back-chat{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.massages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 60px;
}

.massages span{
    color: aliceblue;
    padding-top: 10px;
}

.par-mass{
    display: flex;
    flex-direction: column;
}

.massages p{
    display: flex;
    flex-direction: column;
    position: relative;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.massage-text{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 20px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 5px;
}

.massage-text input{
    width: 60%;
    outline: 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding-right: 15px;
}

.title-logout{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title-logout button{
    display: block;
    color: #000000;
    gap: 4px;
}

.title-logout button{
    padding: 10px;
    border: 1px solid wheat;
    outline: 0px;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}

.header h1{
    color: aliceblue;
}

.title-logout button{
    padding: 0px;
    height: 30px;
    align-self: center;
    width: 70px;
    margin-bottom: 10px;
}

.massage-text button{
    background: white;
    outline: 0px;
    border: 1px solid #000000;
}

.menudetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 50px;
    top: 60px;
    background: white;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
}

.menudetails button{
    border: 1px solid black;
    border-radius: 10px;
    color: aliceblue;
}

@font-face {
    font-family: fontUsers;
    src: url(../public/فونت-Cabin-Condensed-Bold.ttf);
}

.par-mass .username{
    color: rgba(255, 255, 255, 0.8);
    font-family: fontUsers;
    filter: drop-shadow(rgba(255, 255, 255, 0.8), 0px, 5px, 5px);
}