# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
chatflow_frontend/node_modules/
chatflow_frontend/dist/
chatflow_frontend/dist-ssr/
*.local

# Python
chatflow_backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?